#   Python cache files
__pycache__/
*.py[cod]

#   Django local database
db.sqlite3
db.sqlite3-journal

#   Virtual environments
.venv/
venv/
env/

#   Editor files
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db