{% extends 'base.html' %}
{% load static %}
{% block title%}Home{% endblock %}
{% block content %}
    <h2>Menus</h2>
    {#  The following is a placeholder  #}
    <div class="card-container">
        <div class="card">
            <div class="card-content">Menu 1</div>
            <div class="card-content">xx$</div>
        </div>
        <div class="card">
            <div class="card-content">Menu 2</div>
            <div class="card-content">xx$</div>
        </div>
    </div>
    <div class="control-buttons-container">
        <div class="control-button">Add new menu</div>
        <div class="control-button">Edit menu</div>
        <div class="control-button">Delete menu</div>
    </div>
{% endblock %}