{% extends 'base.html' %}
{% load static %}
{% block title%}Menus{% endblock %}
{% block content %}
    <h2>Menus</h2>
    {#  The following is a placeholder  #}
    <div class="card-container">
        {% for menu in menus %}
        <div class="card">
            <div class="card-content">{{menu.name}}</div>
            <div class="card-content">{{menu.price}}$</div>
            <div class="card-content"><a href="{% url 'menuupdate' menu.id %}">Edit menu</a></div>
        </div> 
        {% endfor %}
    </div>
    <div class="control-buttons-container">
        <div class="control-button"><a href="{% url 'menucreate' %}">Add new menu</a></div>
        <div class="control-button">Delete menu</div>
    </div>
{% endblock %}