{% extends 'base.html' %}
{% load static %}
{% block title%}Purchases{% endblock %}
{% block content %}
    <h2>Purchase History</h2>
    <table>
        <tr>
            <th>Purchased Menu</th>
            <th>Amount</th>
            <th>Purchase Date</th>
            {% comment 'the following is not going to be implemented for now' %}
                <th>Update</th>
                <th>Delete</th>
            {% endcomment %}
        </tr>
        {% for purchase in purchases %}
        <tr>
            <td>{{purchase.purchased_item}}</td>
            <td>{{purchase.purchase_amount}}</td>
            <td>{{purchase.purchase_date}}</td>
            {% comment 'the following is not going to be implemented for now' %}
                <td><a href="{% url 'updatepurchase' purchase.id %}">Update {{purchase.purchased_item}} at {{purchase.purchase_date}}</a></td>
                <td><a href="{% url 'deletepurchase' purchase.id %}">Delete {{purchase.purchased_item}} at {{purchase.purchase_date}}</a></td>
            {% endcomment %}
        </tr>
        {% endfor %}
    </table>
    <div class="control-buttons-container">
        <div class="control-button"><a href="{% url 'purchasecreate' %}">Add new purchase</a></div>
    </div>
{% endblock %}