{% extends 'base.html' %}
{% load static %}
{% block title%}Home{% endblock %}
{% block content %}
    <h2>Purchase History</h2>
    <table>
        <tr>
            <th>Purchased Menu</th>
            <th>Amount</th>
            <th>Purchase Date</th>
        </tr>
        <tr>
            <td>Menu 6</td>
            <td>1</td>
            <td>2026-07-06 13:59</td>
        </tr>
        <tr>
            <td>Menu 4</td>
            <td>2</td>
            <td>2026-07-05 20:37</td>
        </tr>
    </table>
{% endblock %}