h1{
    font-weight: 800;
}

.home-options-container{
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    justify-content: space-between;
}

.card {
    display: flex;
    margin-right: 90%;
    margin-bottom: 0.5%;
    justify-content: space-between;
}

.control-buttons-container{
    display: flex;
    margin-right: 70%;
    justify-content: space-between;
}